body {
    background-color: grey;
    color: white;
}

.id-card-wrapper-front {
    position: relative;
    left: 90mm;
    top: 36mm;
    width: 54.00mm;
    height: 85.60mm;
    overflow: hidden;
    /* background-color: blueviolet; */
}
.id-card-wrapper-front .id-card-background {
    position: absolute;
    left: 0mm;
    top: 0mm;
    width: 54.00mm;
    height: 85.60mm;
    overflow: hidden;
    background-color: #005ABB;
}
.id-card-wrapper-front .tri1{
    position: absolute;
    width: 54mm;
    height: 69mm;
    left: 0mm;
    top: 8mm;
    background: rgb(250 249 247);
    border-radius: 6mm;
    rotate: 0deg;
}
.id-card-wrapper-front .tri2
{
    position: absolute;
    width: 70mm;
    height: 36mm;
    left: -5mm;
    top: -13mm;
    background:#005ABB;
    border-radius: 9mm;
    rotate: -20deg;
    
}
/* Content Styles */
.id-card-content {
    position: absolute;
    
    top: 40.5pt; /* 54px */
}
.org-logo {
    position: relative;
    left: 0mm;
    top: -10mm;
    text-align: center;
    /* background-color: black; */
}
.org-logo img {
    max-width: 40.25%; /* 27% */
    height: auto;
}

.user-photo {
    position: absolute;
    left: 7.5pt; /* 10px */
    top: 7.5pt; /* 10px */
    height: 75pt; /* 100px */
    width: 75pt; /* 100px */
    border-radius: 50%;
    object-fit: cover;
}

.user-photo img {
    width: 18.75mm;
    height: 18.75mm;
    border-radius: 50%;
    position: absolute;
    top: 0.25mm;
    left: 42pt;
    border: 0.9mm solid ;
    
}
.user-name {
    font-size: 1.1667em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30mm;
    position: absolute;
    top: 25mm;
    left: 13mm;
    color: black;
}
.id-number {
    font-size: 0.8333em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 18mm;
    position: absolute;
    top: 30mm;
    left: 20mm;
    color: black;
}

.id-title {
    font-size: 0.8333em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 18mm;
    position: absolute;
    top: 35mm;
    left: 12mm;
    color: black;
}

.org-name {
    font-size: -1.1667em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 18mm;
    position: absolute;
    top: 40mm;
    left: 10mm;
    color: black;
}

.org-address {
    font-size: 0.8333em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 18mm;
    position: absolute;
    top: 45mm;
    left: 16mm;
    color: black;
}

.id-card-wrapper-back {
    position: relative;
    left: 150mm;
    top: -64mm;
    width: 54.00mm;
    height: 85.60mm;
    /* background-color: rgb(80, 43, 226); */
}
.id-card-wrapper-back .id-card-background {
    position: absolute;
    left: 0mm;
    top: 0mm;
    width: 54.00mm;
    height: 85.60mm;
    overflow: hidden;
    /* background-color: green; */
}
.id-card-wrapper-back .id-card-background .box {
    position: absolute;
    left: -18mm;
    top: 0mm;
    width: 326mm;
    height: 155.6mm;
    background-color:#005ABB;
}



.id-card-wrapper-back .id-card-background .tri11 {
        position: absolute;
        width: 54mm;
        height: 69mm;
        left: 0mm;
        top: 8mm;
        background: rgb(250 249 247);
        border-radius: 6mm;
        rotate: 0deg;
    }
    .id-card-wrapper-back .id-card-background .tri12{
        position: absolute;
        width: 70mm;
        height: 36mm;
        left: -11mm;
        top: 59mm;
        background: #005ABB;
        border-radius: 8mm;
        rotate: -19deg;
    }


/* Content Styles */

.id-card-content {
    position: absolute;
    top: 40.5pt; /* 54px */
}

.id-card-wrapper-back .id-card-content {
    position: absolute;
    top: 40pt; /* 72px */
    padding: 6pt; /* 8px */
}
.id-card-wrapper-back .org-logo {
    position: relative;
    left: 2mm;
    top: 55mm;
    text-align: center;
    /* background-color: black; */
}
.id-card-wrapper-back .org-logo img {
    max-width: 40.25%; /* 27% */
    height: auto;
}
.id-emergency-contact {
    text-align: center;
    margin-bottom: 20mm;
    position: absolute;
    top: 17mm;
    left: 7mm;
    color: black;
    
}
.phone{
    text-align: center;
    margin-bottom: 18mm;
    position: absolute;
    top: 24mm;
    left: 7mm;
    color: black;
}
.id-issue-date{
    text-align: center;
    margin-bottom: 18mm;
    position: absolute;
    top: 36mm;
    left: 7mm;
    color: black;
}
.id-expiry-date{
    text-align: center;
    margin-bottom: 18mm;
    position: absolute;
    top: 43mm;
    left: 7mm;
    color: black;
}

.qr-code {
    position: absolute;
    left: 7.5pt; /* 10px */
    top: 7.5pt; /* 10px */
    height: 75pt; /* 100px */
    width: 75pt; /* 100px */
    border-radius: 50%;
    object-fit: cover;
}

.qr-code img {
    width: 24mm;
    height: 6mm;
    border-radius: 0pt;
    position: absolute;
    top: 52.75mm;
    left: 13mm;
}
